.a{
    font-size: large;
    font-weight: 540;
    float: left;
    width: 55%;
}
.b{
float: left;
padding-left: 8px;

}
.c{
    padding-left: 09px;
  
  padding-top: 65px;
}
.d{
padding-top: 35px;
}
.e{
    padding-top: 35px;
}
.f{
    padding-top: 35px;
}
fieldset{
    width: px;
    padding-left: 68px;
}
table,td,th{width: 700px;
    height: 30px;
    border: 2px solid rgb(197, 23, 23);
    border-collapse: collapse;
}
.tf{
    float:left ;
}